<div>
	<h3>Page 1</h3>
</div>

<div>
	<div>
		<h3>fxLayout="column" </h3>
		<div fxLayout="column" fxLayoutAlign="start stretch" class="container height250">
			<div class="container-n0">div</div>
			<div class="container-n1">div</div>
			<div class="container-n2">div</div>
			<div class="container-n3">div</div>
		</div>
	</div>

	<div>
		<h3>fxLayout="row"</h3>
		<div fxLayout="row" fxLayoutAlign="start stretch" class="container height250">
			<div class="container-n0">div</div>
			<div class="container-n1">div</div>
			<div class="container-n2">div</div>
			<div class="container-n3">div</div>
		</div>
	</div>

</div>